@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  height: 100vh;
  background: linear-gradient(-180deg, #d66561, #e99176);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.header {
  font-family: 'Montserrat', sans-serif;
  margin-top: 2rem;
}

.header ul {
  display: flex;
}

.header ul li {
  list-style: none;
}

.header ul li a {
  padding: 1rem;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  letter-spacing: 2px
}

/* .header ul li a:before {
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 2px;
  background: #000;
} */
.header ul li a:hover,
.header ul li a:active  {
  border-bottom: 1px solid #f4ae98;
}

.logo {
  text-transform: none !important;
  font-weight: bolder !important;
  font-size: 20px !important;
  background: #fff;
  color: #d66561 !important;
  border-radius: 50%;
  letter-spacing: 0 !important;
}

.title {
  font-size: 8rem;
  font-weight: bold;
  color: #fff;
  transition: 0.2s;
  transform: scaleX(1);
  transform-origin: bottom;
}
.footer {
  font-family: 'Montserrat', sans-serif;
}

.copy-text {
  font-size: 13px;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
}

.footer ul {
  display: flex;
}

.footer ul li {
  list-style: none;
}

.footer li a {
  padding: 0 1rem;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}
.border-nav{
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
@media only screen and (max-width: 600px) {
  .title{
    font-size: 3rem;
  }

  .footer li a {
    display: block;
    text-align: CENTER;
  }
}
